* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--red-primary: #ca2020;
	--orange-primary: #ff0;
}

body {
	font-size: 1rem;
	font-family: monospace, Verdana, Geneva, Tahoma, sans-serif;
	width: 100vw;
	height: 100vh;
	display: grid;
	place-content: center;
}

.wrapper {
	background-color: #333;
	border-radius: 7px;
	width: 280px;
	padding: .5em 1em 1em 1em;
	box-shadow: 3px 3px 3px #777;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #aaa;
	font-weight: bold;
}

h1 {
	font-size: 1.2em;
}

label {
	font-size: .6em;
}

.model {
	text-align: center;
	color: var(--red-primary);
	font-weight: bold;
	padding: .4em 0 0 0;
}

.div-container {
	padding: .5em 0;
	text-align: center;
}

.btn {
	padding: .5em;
	font-size: min(11px, 1em);
	font-weight: 550;
	border: none;
	border-radius: 3px;
	box-shadow: 0px 0px 5px #222;
	border: 1px solid #000;
	background-color: #777;
	color: #fff;
	width: 100%;
}

.btn:hover {
	cursor: pointer;
}

.up-buttons {
	padding: .7em 1em;
	border-radius: 10px;
	width: 100%;
}

.btn-replay {
	border-radius: 50%;
	width: 70px;
	height: 60px;
	font-size: .6em;
	position: absolute;
	left: 50%;
	top: 15px;
	transform: translate(-50%, 0%);
}

#display-result {
	width: 100%;
	height: 30px;
	padding: .25em .5em;
	background-color: #555;
	border-right: 2px solid #777;
	border-left: 2px solid #222;
	border-bottom: 2px solid #777;
	color: #aaa;
	font-weight: bold;
	text-align: right;
}

#display-action {
	width: 100%;
	padding: .5em;
	background-color: #555;
	border-bottom: none;
	color: #aaa;
	font-weight: bold;
	text-align: left;
}

#display:focus {
	outline: none;
}

.actions-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2px;
}

.actions {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
	gap: 5px;
	position: relative;
}

#shift-container {
	grid-column: 1 / 2;
}

#alpha-container {
	grid-column: 2 / 3;
}

#mode-container {
	grid-column: 4 / 5;
}

#on-container {
	grid-column: 5 / 6;
}

.advanceds-op {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: 5px;
}

.basics-op {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 0 5px;
}

.basics-op-div {
	height: 12px;
	font-size: .6em;
}

.advanced-btn {
	background-color: #111;
	box-shadow: 0px 0px 5px #000;
	border: 1px solid #000;
	color: #aaa;
}

.btn-red {
	background-color: var(--red-primary);
	color: #eee;
}

.red {
	color: var(--red-primary);
}

.orange {
	color: var(--orange-primary);
}

.gray {
	color: #aaa;
}